body {background-color:black;
    font-family:arial;
    color:white
}
h1{color:grey;
    font-family:verdana;
    text-align: center; 
}

.maindiv {
    background:border-box white;
    color:black;
    width: 300px;
    margin: auto;
    padding:20px;
    border-radius: 25px;
    text-decoration:center;
}

